.loading {
  @apply !fixed !m-0 !w-fit;

  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;

  :global {
    .aelfd-modal-content {
      @apply !w-[240px] !h-[106px] mx-auto !p-[16px];
    }
  }
}

.loadingWithClose {
  :global {
    .aelfd-modal-content {
      @apply !w-[295px];
    }
  }
}
