/* stylelint-disable no-descending-specificity */
.table-dark {
  @apply bg-pixelsPageBg;

  :global {
    .aelfd-table {
      @apply bg-pixelsPageBg;

      .aelfd-table-thead >tr>th {
        @apply bg-pixelsPageBg text-pixelsBorder border-pixelsBorder;

        &::before {
          @apply !bg-pixelsPageBg;
        }
      }

      .aelfd-table-container table>thead>tr:first-child>*:first-child {
        @apply rounded-none;
      }

      .aelfd-table-tbody {
        >tr >td {
          @apply border-pixelsBorder;

          &.aelfd-table-cell-row-hover {
            @apply bg-pixelsPageBg;
          }
        }
        
        .aelfd-table-cell-fix-right {
          @apply bg-pixelsPageBg;
        }

        .aelfd-table-placeholder > .aelfd-table-cell {
          @apply bg-pixelsPageBg;
        }
      }
    }
  }

  &.common-table-scrollbar * {
    scrollbar-width: 6px !important;
    scrollbar-color: var(--pixels-border) var(--pixels-modal-bg) !important; 
  }
}

.common-table-scrollbar * {
  scrollbar-width: 6px !important;
  scrollbar-color: var(--neutral-border) #fff !important; 
}