:root {
  --brand-default: #3888FF;
  --brand-hover: #5A9CFF;
  --brand-pressed: #267AF8;
  --brand-disable: #ADCEFF;
  --brand-bg: #EBF3FF;
  --neutral-title: #1A1A1A;
  --neutral-primary: #434343;
  --neutral-secondary: #919191;
  --neutral-tertiary: #9F9F9F;
  --neutral-disable: #B8B8B8;
  --neutral-border: #E1E1E1;
  --neutral-divider: #EDEDED;
  --neutral-default-bg: #F6F6F6;
  --neutral-hover-bg: #FAFAFA;
  --neutral-white-bg: #FFF;
  --functional-warning: #F90;
  --functional-warning-bg: #FFF3E0;
  --functional-error: #F53F3F;
  --functional-error-bg: #FEE8E8;
  --functional-error-hover: #FC7373;
  --functional-error-pressed: #CF3737;
  --functional-success: #00B73E;
  --functional-success-bg: #E0F6E8;
  --fill-mask-1: rgb(0 0 0 / 60%);
  --fill-mask-2: rgb(0 0 0 / 80%);
}

.dark-theme {
  --brand-default: #3888FF;
  --brand-hover: #5A9CFF;
  --brand-pressed: #267AF8;
  --brand-disable: #ADCEFF;
  --brand-bg: #EBF3FF;
  --neutral-title: #1A1A1A;
  --neutral-primary: #434343;
  --neutral-secondary: #919191;
  --neutral-tertiary: #9F9F9F;
  --neutral-disable: #B8B8B8;
  --neutral-border: #E1E1E1;
  --neutral-divider: #EDEDED;
  --neutral-default-bg: #F6F6F6;
  --neutral-hover-bg: #FAFAFA;
  --neutral-white-bg: #FFF;
  --functional-warning: #F90;
  --functional-warning-bg: #FFF3E0;
  --functional-error: #F53F3F;
  --functional-error-bg: #FEE8E8;
  --functional-error-hover: #FC7373;
  --functional-error-pressed: #CF3737;
  --functional-success: #00B73E;
  --functional-success-bg: #E0F6E8;
  --fill-mask-1: rgb(0 0 0 / 60%);
  --fill-mask-2: rgb(0 0 0 / 80%);
}

