.schrodinger-content {
  min-height: calc(100% - 98px);
}
.dark-bg{
  @apply bg-neutralTitle;

  background-image: url('../assets/img/referral/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
}
