.pageContainer {
  background-image: url('../../assets/img/telegram/bg-light.png'), radial-gradient(125.45% 50% at 50% 50%, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 60%) 100%), url('../../assets/img/telegram/home-battle-bg.png'), radial-gradient(50% 34.26% at 50% 50%, #2F2C89 0%, #25236C 100%);
  background-position: center 15%, center, bottom center;
  background-size: contain, cover, contain, cover;
  background-repeat: no-repeat;
}
